<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-mu5k-3t.ZPM">
    <Module>
      <Name>dc-mu5k-3t</Name>
      <Version>0.0.11</Version>
      <Description>M‑USK‑3T is a browser-based programming game where you write code to control an autonomous rover on a distant exoplanet rich in valuable minerals.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.mu5k3t.PKG"/>
      <WebApplication 
        Name="/mu5k3t/api" 
        NameSpace="{$namespace}"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}/csp/mu5k3t/api" 
        MatchRoles=":%All"
        AutheEnabled="#{$$$AutheCache + $$$AutheUnauthenticated}"
        DispatchClass="dc.mu5k3t.api.Dispatch" 
        ServeFiles="1"
        CookiePath="/csp/mu5k3t/api"
        UseCookies="2"
      />

      <WebApplication 
        Name="/m5k3t"
        Url="/m5k3t"
        NameSpace="${namespace}"
        Description="M-U5K-3T Frontend"
        Path="${cspdir}/csp/${namespace}"
        
        ServeFiles="2"
        Recurse="1"
        ServeFilesTimeout="3600"
        
        CookiePath="/m5k3t/"
        UseSessionCookie="2"
        DefaultTimeout="900"
        
        MatchRoles=":${globalsDbRole}"
        AutheEnabled="#{$$$AutheUnauthenticated}"
      />

      <Invoke Class="dc.mu5k3t.Setup" Method="Init" >
      </Invoke>
    </Module>
  </Document>
</Export>
